<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login Please</h1>
    <form action="/" method="POST">
        <input type="text" id="id" name="id" placeholder="ID">
        <br />
        <input id="pwd" name="pwd" type="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
</body>
</html>